# Spotify API Configuration
SPOTIFY_CLIENT_ID=b52e7240c7544a589e65126efac853dc
SPOTIFY_CLIENT_SECRET=d54a64dfe1e144c4b2e0fa3cb256ad53
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Roboflow API Configuration
ROBOFLOW_API_KEY=[]
ROBOFLOW_MODEL_ID=numbers-qysva/7

# Flask Server Configuration
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True

# Webcam Configuration
WEBCAM_INDEX=0
